BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #72726a; LINE-HEIGHT: 150%; PADDING-TOP: 0px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #d2d2c1; TEXT-DECORATION: none
}
TABLE {
	FONT-SIZE: 12px; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
P {
	TEXT-INDENT: 2em
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
.input1 {
	FONT-SIZE: 12px; WIDTH: 105px; LINE-HEIGHT: 16px
}
.input2 {
	FONT-SIZE: 12px; WIDTH: 120px; LINE-HEIGHT: 16px
}
A {
	COLOR: #72726a; TEXT-DECORATION: none
}
A:link {
	COLOR: #72726a; TEXT-DECORATION: none
}
A:visited {
	COLOR: #72726a; TEXT-DECORATION: none
}
A:active {
	COLOR: #72726a; TEXT-DECORATION: none
}
A:hover {
	COLOR: #e59407; TEXT-DECORATION: none
}
.h1 {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.h1:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.h1:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.h1:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.h1:hover {
	COLOR: #ffef65; TEXT-DECORATION: none
}
.h2 {
	FONT-SIZE: 12px; COLOR: #5a5a52; TEXT-DECORATION: none
}
A.h2:link {
	COLOR: #5a5a52; TEXT-DECORATION: none
}
A.h2:visited {
	COLOR: #5a5a52; TEXT-DECORATION: none
}
A.h2:active {
	COLOR: #5a5a52; TEXT-DECORATION: none
}
A.h2:hover {
	COLOR: #de4400; TEXT-DECORATION: none
}
.h3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #202b25; TEXT-DECORATION: none
}
A.h3:link {
	COLOR: #202b25; TEXT-DECORATION: none
}
A.h3:visited {
	COLOR: #202b25; TEXT-DECORATION: none
}
A.h3:active {
	COLOR: #202b25; TEXT-DECORATION: none
}
A.h3:hover {
	COLOR: #e59407; TEXT-DECORATION: none
}
.h4 {
	FONT-SIZE: 12px; COLOR: #010100; TEXT-DECORATION: none
}
A.h4:link {
	COLOR: #010100; TEXT-DECORATION: none
}
A.h4:visited {
	COLOR: #010100; TEXT-DECORATION: none
}
A.h4:active {
	COLOR: #010100; TEXT-DECORATION: none
}
A.h4:hover {
	COLOR: #de4400; TEXT-DECORATION: none
}
.h5 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #72726a; TEXT-DECORATION: none
}
A.h5:link {
	COLOR: #72726a; TEXT-DECORATION: none
}
A.h5:visited {
	COLOR: #72726a; TEXT-DECORATION: none
}
A.h5:active {
	COLOR: #72726a; TEXT-DECORATION: none
}
A.h5:hover {
	COLOR: #ffef65; TEXT-DECORATION: none
}
.h6 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #72726a; TEXT-DECORATION: underline
}
A.h6:link {
	COLOR: #72726a; TEXT-DECORATION: underline
}
A.h6:visited {
	COLOR: #72726a; TEXT-DECORATION: underline
}
A.h6:active {
	COLOR: #72726a; TEXT-DECORATION: underline
}
A.h6:hover {
	COLOR: #de4400; TEXT-DECORATION: underline
}
.h7 {
	FONT-SIZE: 11px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.h7:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.h7:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.h7:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.h7:hover {
	COLOR: #ffef65; TEXT-DECORATION: none
}
.a1 {
	FONT-SIZE: 12px; COLOR: #d5d5c0; TEXT-DECORATION: none
}
A.a1:link {
	COLOR: #d5d5c0; TEXT-DECORATION: none
}
A.a1:visited {
	COLOR: #d5d5c0; TEXT-DECORATION: none
}
A.a1:active {
	COLOR: #d5d5c0; TEXT-DECORATION: none
}
A.a1:hover {
	COLOR: #ffd35c; TEXT-DECORATION: none
}
