<p>
  <b>标题:</b>
  <%=h @news_topic.title %>
</p>

<p>
  <b>内容:</b>
  <%= @news_topic.body %>
</p>


<%= link_to '修改', edit_admin_news_topic_path(@news_topic) %> |
<%= link_to '后退', admin_news_topics_path %>
