<table width="570" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="86" bgcolor="#E1E1D6">&nbsp;&nbsp;<img src="/images/aboutus_title.gif" /></td>
  </tr>
</table>
<table width="570" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="28" align="center" background="../images/line.gif">&nbsp;
    </td>
  </tr>
</table>
<table width="510" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding-top:20px">

      <table>
        <tr align="left">
          <td>
            <img src="/images/illustrations/views/1.jpg"/>
            <br /><br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 杭州宁远农业技术开发有限公司成立于2008年2月1日，是&ldquo;河桥休闲农业观光园&rdquo;的在建公司。该园区位于临安市河桥镇秀溪村秀下，一期开发面积660亩，二期开发860亩，公司经营生态农业、种植、养殖的技术开发、技术服务、成果转让、园林绿化、花卉苗木、鲜活水产的销售。建成后承接各种商务会议、休闲旅游的接待。园区将建农博馆，是中、小学生农业科技教育的好基地。在这里，可以观景赏鱼、休闲垂钓、餐饮住宿、康体保健、农贸购物、水果采摘、四季观花。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &ldquo;河桥休闲农业观光园&rdquo;距杭州市区100公里，半小时车程范围内有柳溪江风景区、瑞晶石花洞、大明山风景区、浙西大峡谷、湍口温泉景区等临安市知名景区。该项目的建成将填补临安市旅游的空白，提升整个昌化地区旅游接待的能力与档次。该项目已被临安市政府确定为2009年重点实施项目，被杭州市政府确定为2009年重点（预备）项目。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 公司现有职工25人，其他职工35人，我们团结务实、开拓创新，为把&ldquo;河桥休闲农业观光园&rdquo;建设成为临安市乃至浙江省一流农业观光园而奋力拼搏。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 欢迎观光指导！
            <br /><br />
            <img src="/images/illustrations/aboutus/1.jpg"/>
            <br />蔡总和河桥镇领导在镇政府研究观光园项目<br /><br />
            <img src="/images/illustrations/aboutus/2.jpg"/>
            <br />蔡总和苏州建筑商签订合作合同<br /><br />
            <img src="/images/illustrations/aboutus/3.jpg"/>
            <br />黄总和苏州建筑商商谈合同细节<br /><br />
            <img src="/images/illustrations/aboutus/4.jpg"/>
            <br />黄总在观光园实地考察
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>