<table width="570" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top" bgcolor="#EDEDE3"><img src="../images/crr.jpg" alt="客房预订" width="86" height="23" hspace="20" vspace="10" />
      <div style="padding-top:8px"></div>
      <table width="340" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="125" align="center"><img src="../images/reservation_s.jpg" alt="广州鸣泉居度假村" width="109" height="71" /></td>
          <td width="215">

          </td>
        </tr>
      </table>

    </td>
    <td width="34"><img src="../images/reservation_bg.jpg" width="34" height="160" /></td>
    <td width="188" align="center" valign="bottom" background="../images/reservation_left2.jpg"><a href="javascript:mybooking()"><strong style="font-size:14px; color:#5F6557">&gt;&gt;我的预订</strong></a></td>
  </tr>
</table>
<table width="570" border="0" cellpadding="0" cellspacing="0" bgcolor="#E1E1D7">
  <tr>
    <td valign="top">
      <table width="355" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td style="padding-top:6px"><img src="/images/cpr.jpg" alt="酒店促销" width="80" height="23" vspace="4" /></td>

        </tr>
        <tr>
          <td height="60" style="padding-top:10px;padding-bottom:17px;">
            <ul style="margin:0; padding-left:18px;">

              <li><a href="/hcrm/website/hotelhome/00441/cn/viewNews.jsp?hotelCode=00441&langCode=chs&id=173720&type=0" target="_top" class="h2">缤纷回馈  国庆套餐</a>&nbsp;&nbsp;&nbsp;&nbsp;2008-09-04</li>

              <li><a href="/hcrm/website/hotelhome/00441/cn/viewNews.jsp?hotelCode=00441&langCode=chs&id=154133&type=0" target="_top" class="h2">鸣泉月</a>&nbsp;&nbsp;&nbsp;&nbsp;2008-08-19</li>

              <li><a href="/hcrm/website/hotelhome/00441/cn/viewNews.jsp?hotelCode=00441&langCode=chs&id=89991&type=0" target="_top" class="h2">悠长假期黄金度假套餐</a>&nbsp;&nbsp;&nbsp;&nbsp;2008-05-08</li>


          </ul>				  </td>
        </tr>
        <tr>
          <td align="right" ><a href="javascript:onLoadPromotions()" class="h2">&gt;&gt; 更多</a></td>
        </tr>
      </table>
    </td>

    <td width="188" valign="top"><a href="javascript:onLoadPromotions()"><img src="/images/reservation_s2.jpg" alt="广州鸣泉居度假村" width="188" height="142" border="0" /></a></td>
  </tr>
  <tr>
    <td height="25" bgcolor="#EDEDE3"></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td valign="top">
      <table width="355" border="0" align="center" cellpadding="0" cellspacing="0">

        <tr>
          <td style="padding-top:6px"><img src="/images/chotelnews.jpg" alt="酒店新闻" width="80" height="23" vspace="4" /></td>
        </tr>
        <tr>
          <td height="60" style="padding-top:10px;padding-bottom:17px;">
            <ul style="margin:0; padding-left:18px;">

              <li><a href="/hcrm/website/hotelhome/00441/cn/viewNews.jsp?hotelCode=00441&langCode=chs&id=256642&type=1" target="_top" class="h2">亚运会指定接待酒店</a>&nbsp;&nbsp;&nbsp;&nbsp;2008-11-28</li>

              <li><a href="/hcrm/website/hotelhome/00441/cn/viewNews.jsp?hotelCode=00441&langCode=chs&id=49212&type=1" target="_top" class="h2">我村接待第49届世乒团体赛参赛选手</a>&nbsp;&nbsp;&nbsp;&nbsp;2008-03-06</li>


              <li><a href="/hcrm/website/hotelhome/00441/cn/viewNews.jsp?hotelCode=00441&langCode=chs&id=22653&type=1" target="_top" class="h2">“全球通名家讲坛谈”在我村聚贤殿举行</a>&nbsp;&nbsp;&nbsp;&nbsp;2007-11-19</li>

              <li><a href="/hcrm/website/hotelhome/00441/cn/viewNews.jsp?hotelCode=00441&langCode=chs&id=22642&type=1" target="_top" class="h2">奔驰新款运动旅行车推介会在鸣泉居凯旋宫举行</a>&nbsp;&nbsp;&nbsp;&nbsp;2007-11-07</li>

              <li><a href="/hcrm/website/hotelhome/00441/cn/viewNews.jsp?hotelCode=00441&langCode=chs&id=4757&type=1" target="_top" class="h2">入会须知</a>&nbsp;&nbsp;&nbsp;&nbsp;2007-09-19</li>

          </ul>				  </td>
        </tr>

        <tr>
          <td align="right"><a href="javascript:onLoadWebNews()" class="h2">&gt;&gt; 更多</a></td>
        </tr>
      </table>
    </td>
    <td valign="top"><a href="javascript:onLoadWebNews()"><img src="/images/reservation_s3.jpg" alt="广州鸣泉居度假村" width="188" height="142" border="0" /></a></td>
  </tr>
  <tr>

    <td height="50" valign="top" bgcolor="#EDEDE3"></td>
    <td>&nbsp;</td>
  </tr>
</table>