<table width="570" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top" bgcolor="#EDEDE3"><img src="../images/err.jpg" alt="Room Reservation" width="171" height="25" hspace="20" vspace="10" />
      <div style="padding-top:8px"></div>
      <table width="350" border="0" align="center" cellpadding="0" cellspacing="0">

        <tr>
          <td width="120" align="right"><img src="../images/reservation_s.jpg" alt="Guangzhou Oriental Resort" width="109" height="71" /></td>
          <td width="220">

          </td>
        </tr>
      </table>

    </td>
    <td width="34"><img src="../images/reservation_bg.jpg" width="34" height="160" /></td>
    <td width="188" align="center" valign="bottom" background="../images/reservation_left2.jpg"><a href="javascript:mybooking()"><strong style="font-size:14px; color:#5F6557">&gt;&gt;My Reservation </strong></a></td>
  </tr>
</table>
<table width="570" border="0" cellpadding="0" cellspacing="0" bgcolor="#E1E1D7">
  <tr>
    <td valign="top">
      <table width="355" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td style="padding-top:6px"><img src="/images/epromotion.jpg" alt="Promotion" width="97" height="26" vspace="4" /></td>

        </tr>
        <tr>
          <td height="60" style="padding-top:10px;padding-bottom:14px;">
            <ul style="margin:0; padding-left:18px;">

              <li><a href="/hcrm/website/hotelhome/00441/en/viewNews.jsp?hotelCode=00441&langCode=enu&id=4760&type=0" target="_top" class="h2">Hot Booking During 102nd Canton Fair!!!</a>&nbsp;&nbsp;&nbsp;&nbsp;2007-09-19</li>

            </ul>
          </td>
        </tr>

        <tr>
          <td align="right" ><a href="javascript:onLoadPromotions()" class="h2">&gt;&gt; More </a></td>
        </tr>
      </table>
    </td>
    <td width="188" valign="top"><a href="javascript:onLoadPromotions()"><img src="/images/reservation_s2.jpg" alt="Guangzhou Oriental Resort" width="188" height="142" border="0" /></a></td>
  </tr>
  <tr>

    <td height="25" bgcolor="#EDEDE3"></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td valign="top">
      <table width="355" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td style="padding-top:6px"><img src="/images/ehotelnews.jpg" alt="Hotel News" width="97" height="26" vspace="4" /></td>
        </tr>

        <tr>
          <td height="60" style="padding-top:10px;padding-bottom:14px;">
            <ul style="margin:0; padding-left:18px;">

            </ul>
          </td>
        </tr>
        <tr>
          <td align="right"><a href="javascript:onLoadWebNews()" class="h2">&gt;&gt; More</a></td>

        </tr>
      </table>
    </td>
    <td valign="top"><a href="javascript:onLoadWebNews()"><img src="/images/reservation_s3.jpg" alt="Guangzhou Oriental Resort" width="188" border="0" /></a></td>
  </tr>
</table>