<table width="570" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="86" bgcolor="#E1E1D6">&nbsp;&nbsp;关于我们</td>
  </tr>
</table>
<table width="570" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="28" align="center" background="../images/line.gif">&nbsp;
    </td>
  </tr>
</table>
<table width="510" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding-top:20px">

      <table>
        <tr align="left">
          <td><%=Setting.get('about_us') %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>