<table width="570" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="86" bgcolor="#E1E1D6">&nbsp;&nbsp;<img src="/images/<%="en/" if session[:en] -%>restaurants_title.gif" /></td>
  </tr>
</table>
<table width="570" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="28" align="center" background="../images/line.gif" class="h4"><a href="restaurants.html" class="h4">宴会</a>　|　<a href="restaurants2.html" class="h4">零点（早餐，正餐，送餐）</a>　|　<a href="restaurants3.html" class="h4">西餐</a></td>
  </tr>
</table>
<table width="510" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding-top:20px">
      <p>巴洛克风格的铁花和水晶吊灯之下，是昂贵的绣花地毯和做工精致的古典家私，宴会上延续着亲密的交谈。饮食是文化，气派只因考究。当白瓷餐具闪烁着光芒，醇酒洋溢着芳香，一切细节我们已为您悉心打点，亲切笑容成为豪华中最生动的感触。</p>
      <p><a href="../images/restaurants_bpic01.jpg" target="_blank" class="h6">聚贤殿</a><br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;国际庭院的现代构思，凯旋宫大堂的10米高豪华气派尽收眼底。宴会厅可容纳300人同时用餐，另有1个 48平方米的贵宾接待室，适合结婚喜宴、各型会议、中西式酒会及其它各式活动使用，空间规划弹性使用，是团体活动、聚餐的最佳选择。</p>
    </td>
  </tr>
  <tr>
    <td style="padding-top:20px;padding-bottom:40px;">
      <table width="459" border="0" align="center" cellpadding="0" cellspacing="0" style="border:4px solid #DADACE">
        <tr>
          <td><img src="../images/restaurants_pic04a.jpg" alt="聚贤殿" name="slide" width="450" height="337" class="tp" id="slide" style="FILTER: blendTrans(duration=2)" /></td>
          <script language="JavaScript1.1" type="text/javascript">
            <!--
            var slidespeed=3000
            var slideimages=new Array()
            var slidelinks=new Array("","","")
            slideimages[0] = "/images/restaurants_pic04a.jpg"
            slideimages[1] = "/images/restaurants_pic04b.jpg"
            slideimages[2] = "/images/restaurants_pic04c.jpg"
            slideimages[3] = "/images/restaurants_pic04d.jpg"

            var newwindow=1 //open links in new window? 1=yes, 0=no
            var imageholder=new Array()
            var ie=document.all
            for (i=0;i<slideimages.length;i++){
              imageholder[i]=new Image()
              imageholder[i].src=slideimages[i]
            }

            var whichlink=0
            var whichimage=0
            var blenddelay=(ie)? document.images.slide.filters[0].duration*1000 : 0
            function slideit(){
              if (!document.images) return
              if (ie) document.images.slide.filters[0].apply()
              document.images.slide.src=imageholder[whichimage].src
              if (ie) document.images.slide.filters[0].play()
              whichlink=whichimage
              whichimage=(whichimage<slideimages.length-1)? whichimage+1 : 0
              setTimeout("slideit()",slidespeed+blenddelay)
            }
            slideit()
            //-->
          </script>
        </tr>
      </table>
    </td>
  </tr>
</table>