<table width="570" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td height="86" bgcolor="#E1E1D6">&nbsp;&nbsp;<img src="/images/<%="en/" if session[:en] -%>ningyuan_spec_title.gif" /></td>
	</tr>
</table>
<table width="570" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td height="28" align="center" background="../images/line.gif">&nbsp;
		</td>
	</tr>
</table>
<table width="570" cellspacing="0" cellpadding="0" border="0" bgcolor="#e1e1d7">
	<tbody><tr>
		<td valign="top">
			<table width="355" cellspacing="0" cellpadding="0" border="0" align="center">
				<tbody><tr>
					<td style="padding-top: 6px;"><img height="23" width="80" vspace="4" alt="山核桃" src="/images/cpr.jpg"/></td>
				</tr>
				<tr>
					<td height="60" style="padding-top: 10px; padding-bottom: 17px;">山核桃</td>
				</tr>
				<tr>
					<td align="right"><a class="h2" href="javascript:onLoadPromotions()">>> 更多</a></td>
				</tr>
			</tbody></table>
		</td>

		<td width="188" valign="top"><a href="javascript:onLoadPromotions()"><img height="142" width="188" border="0" alt="杭州宁远农业技术开发有限公司" src="/images/reservation_s2.jpg"/></a></td>
	</tr>
	<tr>
		<td height="25" bgcolor="#edede3"/>
		<td> </td>
	</tr>
	<tr>
		<td valign="top">
			<table width="355" cellspacing="0" cellpadding="0" border="0" align="center">

				<tbody><tr>
					<td style="padding-top: 6px;"><img height="23" width="80" vspace="4" alt="土鸡土鸭" src="/images/chotelnews.jpg"/></td>
				</tr>
				<tr>
					<td height="60" style="padding-top: 10px; padding-bottom: 17px;">土鸡土鸭</td>
				</tr>

				<tr>
					<td align="right"><a class="h2" href="javascript:onLoadWebNews()">>> 更多</a></td>
				</tr>
			</tbody></table>
		</td>
		<td valign="top"><a href="javascript:onLoadWebNews()"><img height="142" width="188" border="0" alt="杭州宁远农业技术开发有限公司" src="/images/reservation_s3.jpg"/></a></td>
	</tr>
	<tr>
		<td height="50" valign="top" bgcolor="#edede3"/>
		<td> </td>
	</tr>
</tbody>
</table>