<table width="570" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td height="86" bgcolor="#E1E1D6">&nbsp;&nbsp;<img src="/images/<%="en/" if session[:en] -%>ningyuan_spec_title.gif" /></td>
	</tr>
</table>
<table width="570" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td height="28" align="center" background="../images/line.gif">&nbsp;
		</td>
	</tr>
</table>
<table width="510" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding-top:20px">

      <table>
        <tr align="left">
          <td>
            <img src="/images/illustrations/special/1.jpg"/>
            <br />未熟的覆盆子<br /><br />
            <img src="/images/illustrations/special/2.jpg"/>
            <br />未熟的覆盆子<br /><br />
            <img src="/images/illustrations/special/3.jpg"/>
            <br />覆盆子<br />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>