<table width="570" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="86" bgcolor="#E1E1D6">&nbsp;&nbsp;<img src="/images/<%="en/" if session[:en] -%>ningyuan_spec_title.gif" /></td>
  </tr>
</table>
<table width="570" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="28" align="center" background="../images/line.gif">&nbsp;
    </td>
  </tr>
</table>
<table width="570" cellspacing="0" cellpadding="0" border="0" bgcolor="#e1e1d7">
            <tbody><tr>
              <td valign="top">
                <table width="355" cellspacing="0" cellpadding="0" border="0" align="center">
                  <tbody><tr>
                    <td style="padding-top: 6px;"><img height="23" width="80" vspace="4" alt="酒店促销" src="/images/cpr.jpg"/></td>

                  </tr>
                  <tr>
                    <td height="60" style="padding-top: 10px; padding-bottom: 17px;">
                      <ul style="margin: 0pt; padding-left: 18px;">

                        <li><a class="h2" target="_top" href="/hcrm/website/hotelhome/00441/cn/viewNews.jsp?hotelCode=00441&amp;langCode=chs&amp;id=173720&amp;type=0">缤纷回馈  国庆套餐</a>    2008-09-04</li>

                        <li><a class="h2" target="_top" href="/hcrm/website/hotelhome/00441/cn/viewNews.jsp?hotelCode=00441&amp;langCode=chs&amp;id=154133&amp;type=0">鸣泉月</a>    2008-08-19</li>

                        <li><a class="h2" target="_top" href="/hcrm/website/hotelhome/00441/cn/viewNews.jsp?hotelCode=00441&amp;langCode=chs&amp;id=89991&amp;type=0">悠长假期黄金度假套餐</a>    2008-05-08</li>


                    </ul>				  </td>
                  </tr>
                  <tr>
                    <td align="right"><a class="h2" href="javascript:onLoadPromotions()">>> 更多</a></td>
                  </tr>
                </tbody></table>
              </td>

              <td width="188" valign="top"><a href="javascript:onLoadPromotions()"><img height="142" width="188" border="0" alt="广州鸣泉居度假村" src="/images/reservation_s2.jpg"/></a></td>
            </tr>
            <tr>
              <td height="25" bgcolor="#edede3"/>
              <td> </td>
            </tr>
            <tr>
              <td valign="top">
                <table width="355" cellspacing="0" cellpadding="0" border="0" align="center">

                  <tbody><tr>
                    <td style="padding-top: 6px;"><img height="23" width="80" vspace="4" alt="酒店新闻" src="/images/chotelnews.jpg"/></td>
                  </tr>
                  <tr>
                    <td height="60" style="padding-top: 10px; padding-bottom: 17px;">
                      <ul style="margin: 0pt; padding-left: 18px;">

                        <li><a class="h2" target="_top" href="/hcrm/website/hotelhome/00441/cn/viewNews.jsp?hotelCode=00441&amp;langCode=chs&amp;id=256642&amp;type=1">亚运会指定接待酒店</a>    2008-11-28</li>

                        <li><a class="h2" target="_top" href="/hcrm/website/hotelhome/00441/cn/viewNews.jsp?hotelCode=00441&amp;langCode=chs&amp;id=49212&amp;type=1">我村接待第49届世乒团体赛参赛选手</a>    2008-03-06</li>


                        <li><a class="h2" target="_top" href="/hcrm/website/hotelhome/00441/cn/viewNews.jsp?hotelCode=00441&amp;langCode=chs&amp;id=22653&amp;type=1">“全球通名家讲坛谈”在我村聚贤殿举行</a>    2007-11-19</li>

                        <li><a class="h2" target="_top" href="/hcrm/website/hotelhome/00441/cn/viewNews.jsp?hotelCode=00441&amp;langCode=chs&amp;id=22642&amp;type=1">奔驰新款运动旅行车推介会在鸣泉居凯旋宫举行</a>    2007-11-07</li>

                        <li><a class="h2" target="_top" href="/hcrm/website/hotelhome/00441/cn/viewNews.jsp?hotelCode=00441&amp;langCode=chs&amp;id=4757&amp;type=1">入会须知</a>    2007-09-19</li>

                    </ul>				  </td>
                  </tr>

                  <tr>
                    <td align="right"><a class="h2" href="javascript:onLoadWebNews()">>> 更多</a></td>
                  </tr>
                </tbody></table>
              </td>
              <td valign="top"><a href="javascript:onLoadWebNews()"><img height="142" width="188" border="0" alt="广州鸣泉居度假村" src="/images/reservation_s3.jpg"/></a></td>
            </tr>
            <tr>

              <td height="50" valign="top" bgcolor="#edede3"/>
              <td> </td>
            </tr>
          </tbody></table>