<table width="570" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="86" bgcolor="#E1E1D6">&nbsp;&nbsp;<img src="/images/<%="en/" if session[:en] -%>sportscenter_title.gif" /></td>
  </tr>
</table>
<table width="570" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="28" align="center" background="/images/line.gif" class="h4"><a href="#" class="h4">娱乐中心</a>　|　<a href="#" class="h4">车队服务</a></td>
  </tr>
</table>
<table width="510" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding-top:20px">
    </td>
  </tr>
  <tr>
    <td style="padding-top:20px">
      <table width="459" border="0" align="center" cellpadding="0" cellspacing="0" style="border:4px solid #DADACE">
        <tr>
          <td>
            <!-- <img src="/images/sportscenter_spic01.jpg" alt="娱乐设施" name="slide" width="450" height="337" class="tp" id="slide" style="FILTER: blendTrans(duration=2)" /> -->
          </td>
          <script language="JavaScript1.1" type="text/javascript">
            <!--
            // var slidespeed=3000
            // var slideimages=new Array()
            // var slidelinks=new Array("","","")
            // slideimages[0] = "/images/sportscenter_spic01.jpg"
            // slideimages[1] = "/images/sportscenter_spic02.jpg"
            // slideimages[2] = "/images/sportscenter_spic03.jpg"
            // slideimages[3] = "/images/sportscenter_spic04.jpg"
            // slideimages[4] = "/images/sportscenter_spic05.jpg"
            // slideimages[5] = "/images/sportscenter_spic06.jpg"
            // slideimages[6] = "/images/sportscenter_spic07.jpg"
            // slideimages[7] = "/images/sportscenter_spic08.jpg"
            // slideimages[8] = "/images/sportscenter_spic09.jpg"
            // slideimages[9] = "/images/sportscenter_spic10.jpg"
            // slideimages[10] = "/images/sportscenter_spic11.jpg"
            // slideimages[11] = "/images/sportscenter_spic12.jpg"
            // slideimages[12] = "/images/sportscenter_spic13.jpg"
            // slideimages[13] = "/images/sportscenter_spic14.jpg"
            // slideimages[14] = "/images/sportscenter_spic15.jpg"
            // 
            // var newwindow=1 //open links in new window? 1=yes, 0=no
            // var imageholder=new Array()
            // var ie=document.all
            // for (i=0;i<slideimages.length;i++){
            //     imageholder[i]=new Image()
            //     imageholder[i].src=slideimages[i]
            // }
            // 
            // var whichlink=0
            // var whichimage=0
            // var blenddelay=(ie)? document.images.slide.filters[0].duration*1000 : 0
            // function slideit(){
            //   if (!document.images) return
            //   if (ie) document.images.slide.filters[0].apply()
            //   document.images.slide.src=imageholder[whichimage].src
            //   if (ie) document.images.slide.filters[0].play()
            //   whichlink=whichimage
            //   whichimage=(whichimage<slideimages.length-1)? whichimage+1 : 0
            //   setTimeout("slideit()",slidespeed+blenddelay)
            // }
            // slideit()
            //-->
          </script>
        </tr>
      </table>
    </td>
  </tr>
</table>