<table width="780" border="0" align="center" cellpadding="0" cellspacing="5">
        <tr>
                <td width="200" valign="top">
                        <%=render :partial=>'/shared/menu' %>
                </td>
                <td width="565" valign="top">
                        <table width="100%" border="0" cellpadding="5" cellspacing="0" class="content_border">
                                <tr>
                                        <td class="content_title" width="92%">
                                                <%=h @news_topic.title %>
                                        </td>
                                        <td>
                                                <%= link_to 'Back', news_topics_path %>
                                        </td>
                                </tr>
                                <tr>
                                        <td colspan="2">
                                                <%= @news_topic.body %>
                                        </td>
                                </tr>
                        </table>
                </td>
        </tr>
</table>