<h1>所有留言</h1>

<% if @feedbacks %>
<table>
  <tr>
    <th>名字</th>
    <th>Email</th>
    <th>内容</th>
  </tr>

  <% for feedback in @feedbacks %>
  <tr>
    <td><%=h feedback.name %></td>
    <td><%=h feedback.email %></td>
    <td><%=h feedback.content %></td>
    <td><%= image_tag(feedback.product.pictures[0].public_filename(:small)) if  feedback.product and feedback.product.pictures.count>0  %><td>
    </tr>
    <% end %>

    <% else %>
    <p>暂无留言!</p>
    <% end %>
  </table>