<h1>All feedbacks</h1>

<% if @feedbacks %>
    <table>
            <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Content</th>
            </tr>

            <% for feedback in @feedbacks %>
                <tr>
                        <td><%=h feedback.name %></td>
                        <td><%=h feedback.email %></td>
                        <td><%=h feedback.content %></td>
                        <td><%= image_tag(feedback.product.pictures[0].public_filename(:small)) if  feedback.product and feedback.product.pictures.count>0  %><td>
                </tr>
            <% end %>

        <% else %>
            <p>No feedback!</p>
        <% end %>
</table>